@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Roboto+Mono:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #09090A;
    height: 100vh;
}

/* body * {
    border: 1px solid red;
} */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 48px;

    position: fixed;
    width: 100%;
}


button {
    padding: 16px 24px;
    color: white;
    background-color: transparent;
    border: 1px solid #8B5CF6;
    border-radius: 8px;
    
    display: flex;
    align-items: center;
    gap: 12px;
    
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
}

#form-habits {
    display: flex;
    padding: 182px 48px 48px;
    width: fit-content;
}

.habits {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 60px;
}

.habit {
    width: 64px; 
    height: 64px;
    font-size: 32px;

    display: flex;
    align-items: center;
    justify-content: center;
}
 
/* ---------------Days-------------- */
.days {
    display: flex;
    gap: 48px;
    margin-left: 32px;
}

.day {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

form .days {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}
 
.day div {
    margin-bottom: 8px;
    font-family: 'Roboto Mono';
    font-size: 20px;
    line-height: 125%;
    color: #A1A1AA;
    text-align: center;
}
/* --------------------------------- */

input {
    appearance: none;
    -webkit-appearance: none;
    background: #18181B;
    
    width: 64px; height: 64px;
    
    border: 2px solid #27272A;
    border-radius: 8px;
}

/* -------- Pseudo Selector --------*/

input:checked {
    background: #8B5CF6;
    border: 2px solid #A78BFA;
}
/* ---------------------------------*/

@media (max-width: 570px) {
    button div {
        display: none;
    }
}